:root {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  font-size: var(--font-size-base);

  color-scheme: dark;
  background-color: var(--color-background);
  color: var(--color-text-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  width: 100%;
}
